.front {
  position: relative;
  z-index: 2;

  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}

.back {
  position: absolute;
  z-index: 1;
  transform: rotateY(-180deg);

  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}

.both-cards {
  position: relative;
}
